.new-waypoint-input-container {
	padding: 0 10px;
}

.new-waypoint-input {
	width: 100%;
	padding: 5px 10px;
	margin-right: 5px;
	outline: none;
	border: 1px solid #51490E;
	color: #51490E;
}

.waypoints-search-container {
	position: absolute;
	top: 110px;
	width: 229px;
	max-height: 200px;
	z-index: 3;
	overflow: auto;
	background-color: #ffffff;
	border: 1px solid #51490E;
}

.waypoints-search-container:empty {
	border: none;
}

.waypoints-search-container::-webkit-scrollbar {
    width: 0;
}

.waypoints-search-item {
	padding: 5px 10px;
	border-bottom: 1px solid #51490E;
	border-top: 0;
	cursor: pointer;
}

.waypoints-search-item:last-child {
	border-bottom: none;
}

.waypoints-search-item:hover {
	background-color: #cfd68c;
}

.new-waypoint-input-error {
	padding-left: 10px;
	font-size: 12px;
	color: #990000;
}