.app-loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #E6EE9C;
}

.app-loader-icon {
    height: 86px;
    width: 86px;
}

.app-loader-title {
    padding-top: 30px;
    font-size: 16pt;
    text-align: center;
}