.waypoints-list-container {
	padding: 20px 0;
	background-color: #F0F4C3;
}

.waypoint-list-waypoints {
	position: absolute;
	overflow: overlay;
	top: 131px;
    bottom: 0;
    right: 0;
    left: 0;
}

.waypoint-list-waypoints::-webkit-scrollbar {
    width: 4px;
    background-color: #F0F4C3;
}  

.waypoint-list-waypoints::-webkit-scrollbar-thumb {
    background-color: #51490E;
}