.waypoints-list-waypoint {
	padding: 5px 10px;
    justify-content: space-between;
}

.waypoints-list-waypoint:hover {
	background-color: #cfd68c;
}

.waypoints-list-waypoint-name {

}

.waypoints-list-waypoint-button {
	float: right;
}