.app {
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.app-logo {
	height: 64px;
	padding: 0 20px;
	background-color: #E6EE9C;
	font-family: 'Pacifico', cursive;
	cursor: default;
}

.app-logo-background {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.2;
}

.app-logo-image {
	font-size: 30pt;
	vertical-align: middle;
}

.app-logo-title {
	display: inline-block;
	vertical-align: middle;
	font-size: 25pt;
	font-weight: bold;
}

.sidebar {
	position: absolute;
	width: 280px;
	height: 100%;
	left: 0;
	z-index: 2;
	background-color: #F0F4C3;
	border-right: 1px solid #51490E;
	transition: left 0.5s;
}

.hide-sidebar-button {
	display: none;
	position: relative;
	width: 24px;
	left: 280px;
    background-color: #ffffff;
    border: 1px solid #51490E;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.hide-sidebar-button i {
	line-height: 2;
}

@media screen and (max-width: 768px) {
	.hide-sidebar-button {
		display: flex;
		align-items: center;
	}

	.sidebar-hidden {
		left: -280px;
	}
}
