.ymaps-error-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #E6EE9C;
}

.ymaps-error-icon {
    font-size: 86px;
}

.ymaps-error-title {
    padding-top: 30px;
    font-size: 16pt;
    text-align: center;
}