.map-container {
	position: absolute;
	left: 280px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
	transition: left 0.5s;
}

@media screen and (max-width: 768px) {
	.map-container {
        left: 0;
	}
}