body {
  	margin: 0;
	color: #51490E;
}

/* Позиционирование */
.align-children-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-children-center-horizontal {
	display: flex;
	justify-content: center;
}

.align-children-center-vertical {
    display: flex;
    align-items: center;
}

/* Переиспользуемые элементы */
button {
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

input {
	border: solid 1px #51490E;
	color: #51490E;
}

.material-icons {
	color: #51490E;
}